/* STYLESHEET */
header,
section{
    height: 100vh;
}

body{
    font-family: 'Helvetica Now Display';
    font-size: 20%;
    background-color: #151515;
}

.top-port,
.bot-port{
    position: relative;
    z-index: 2;
    height: 18%;
    background-color: #151515;
}

.mid-port{
    height: 64%;
}

.wrapper{
    height: 100%;
}

.hero{
    height: 120%;
    width: 100%;
    position: absolute;
    top: -23%;
    z-index: 1;
}

.hero2{
    height: 120%;
    width: 100%;
    position: absolute;
    top: -23%;
    z-index: -1;
    filter: blur(5px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 1)),url("../images/about/20210812_091042.jpg");
    background-size: cover;
}
.about-txt{
    margin-top: 50%;
    margin-left: 5%;
}

.about-txt h2{
    color: #FF4B56;
    font-weight: bold;
}

.about-txt p{
    margin-top: 3%;
    color: white;
    font-size: 600%;
    letter-spacing: 2px;
    line-height: 170%;
}
.hero-left,
.hero-right{
    flex: 50%
}

.f-picture{
    width: 100%;
    overflow: hidden;
}
.f-picture figure img{
    filter: grayscale(100%);
    margin-top: 30%;
    margin-left: 20%;
    width: 60%;
}
/* NAME */
.freelancer-name,
.nav-bar{
    flex: 50%;
}

.name-wrapper{
    position: absolute;
    top: 45%;
    left: 3%;
}

.name-wrapper h2{
    font-size: 1000%;
    font-weight: bold;
    color: white;
}

.f-name-line{
    width: 175%;
    padding-bottom: 1%;
    border-bottom: 3px solid #FF4B56;
}
/* NAVBAR */
.nav-bar-wrapper{
    margin-top: 10%;
    margin-left: 55%;
}
.nav-bar-list li{
    display: inline-block;
    margin-left: 5%;
}

.nav-bar-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: bold;
    color: #FF4B56;
}

.person{
    position: absolute;
    top: 85px;
    right: 40px;
    margin-left: 2%;
    font-size: 1000%;
    color: white;
}
/* MOTTO */
.motto{
    flex: 50%;
}
.motto h2{
    color: #FF4B56;
    font-size: 800%;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 3%;
}
.social-nav{
    flex: 50%;
}

.social{
    font-size: 1000%;
    transition: .5s;
}

.social:hover{
    font-size: 1250%;
}
.social-wrapper ul{
    margin-top: 4%;
}
.social-wrapper ul li{
    display: block;
    margin-top: 1%;
    margin-left: 92%;
}

.social-wrapper ul li a{
    color: white;
}

/* FOOTER */
.est-wrapper h5{
    position: absolute;
    top: 80%;
    left: 1%;
    color: white;
}