/* STYLESHEET */
header{
    height: 100vh;
}

body{
    font-family: 'Helvetica Now Display';
    font-size: 20%;
    background-color: #151515;
}

.top-port,
.bot-port{
    position: relative;
}

.bot-port{
    margin-top: 19.5%;
    height: 18%;
}

/* MID PORT */
.mid-port{
    height: 64%;
}

.wrapper{
    height: 100%;
    position: relative;
}

.hero{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 1%;
}

.hero h4{
    float: left;
    margin-left: 4%;
    font-size: 800%;
    letter-spacing: 2px;
}
.back{
    position: absolute;
    top: 3.7%;
    left: 3%;
}

.hero h4 span{
    color: #FF4B56;
}

.hero-container{
    margin-top: 0%;
    margin-left: 2%;
    height: 100%;
}
/* NAME */
.freelancer-name,
.nav-bar{
    flex: 50%;
}

.name-wrapper{
    position: absolute;
    top: 61%;
    left: 3%;
}

.name-wrapper h2{
    font-size: 1000%;
    font-weight: bold;
    color: white;
}

.f-name-line{
    width: 175%;
    padding-bottom: 1%;
    border-bottom: 3px solid #FF4B56;
}
/* NAVBAR */
.nav-bar-wrapper{
    margin-top: 10%;
    margin-left: 55%;
}
.nav-bar-list li{
    display: inline-block;
    margin-left: 5%;
}

.nav-bar-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: bold;
    color: #FF4B56;
}

.person{
    position: absolute;
    top: 85px;
    right: 40px;
    margin-left: 2%;
    font-size: 1000%;
    color: white;
}
/* MOTTO */
.motto{
    flex: 50%;
}
.motto h2{
    color: #FF4B56;
    font-size: 800%;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 3%;
}
.social-nav{
    flex: 50%;
}

.social{
    font-size: 1000%;
    transition: .5s;
}

.social:hover{
    font-size: 1250%;
}
.social-wrapper ul{
    margin-top: 4%;
}
.social-wrapper ul li{
    position: relative;
    z-index: 1;
    display: block;
    margin-top: 1%;
    margin-left: 92%;
}

.social-wrapper ul li a{
    color: white;
}

/* FOOTER */
.est-wrapper h5{
    position: absolute;
    top: 80%;
    left: 1%;
    color: white;
}

.gallery-holder{
    height: 115%;
    margin-top: 3%;
}

.gallery-holder h4{
    font-size: 1000%;
    margin-left: 0%;
    font-weight: 700;
    float: left;
    position: absolute;
}

.gallery-holder h6{
    float: right;
    color: white;
    margin-top: 5%;
    margin-right: 5%;
    text-align: right;
    letter-spacing: 2px;
    line-height: 145%;
    font-size: 600%;
}
.gallery-container{
    height: 85%;
    margin-left: 0%;
}
.gallery-upper,
.gallery-lower{
    width: 95%;
    height: 45%;
    margin-bottom: .5%;
    margin-left: 1%;
}


.categ-1, .categ-2, .categ-3, .categ-4, .categ-5,
.categ-6, .categ-7, .categ-8, .categ-9, .categ-10,
.categ-11, .categ-12, .categ-13, .categ-14, .categ-15{
    margin: 3.5% .25% .5%;
    height: 100%;
    flex: 50%;
    overflow: hidden;
    position: relative;
}

.gallery-upper img{
    width: auto;
    max-height: 100%;
}
.categ-1:hover, .categ-2:hover, .categ-3:hover, .categ-4, .categ-5:hover,
.categ-6:hover, .categ-7:hover, .categ-8:hover, .categ-9, .categ-10:hover,
.categ-11:hover, .categ-12:hover, .categ-13:hover, .categ-14, .categ-15:hover{
    cursor: pointer;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF4B56; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF4B56; 
  }

  .display-box{
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1;
  }

  .display-wrapper{
      height: 100%;
      position: relative;
  }

  .display-wrapper img{
      width: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
  }

  .display-bg{
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      position: absolute;
      top: 0;
  }