.loading-bar{
    background-color: transparent;
    height: .15%;
    width: 0%;
}

.lb-animation{
    animation: ld-animation 1.5s;
}

@keyframes ld-animation{
    from {
        width: 0%;
    }to{
        background-color: #FF4B56;
        width: 99.8%;
    }
}