
/* STYLESHEET */
header,
section{
    height: 100vh;
}

body{
    font-family: 'Helvetica Now Display';
    font-size: 20%;
    background-color: #151515;
}

.top-port,
.bot-port{
    position: relative;
    z-index: 2;
    height: 18%;
    background-color: #151515;
}

.mid-port{
    height: 64%;
}

.wrapper{
    height: 100%;
}

.hero{
    height: 120%;
    width: 100%;
    position: absolute;
    top: -23%;
    z-index: 1;
    background-image: url("../images/home/1.jpg");
    background-size: cover;
}

/* NAME */
.freelancer-name,
.nav-bar{
    flex: 50%;
}

.name-wrapper{
    position: absolute;
    top: 45%;
    left: 3%;
}

.name-wrapper h2{
    font-size: 1000%;
    font-weight: bold;
    color: white;
}

.f-name-line{
    width: 50%;
    padding-bottom: 1%;
    border-bottom: 3px solid #FF4B56;
}
/* NAVBAR */
.nav-bar-wrapper{
    margin-top: 10%;
    margin-left: 55%;
}
.nav-bar-list li{
    display: inline-block;
    margin-left: 5%;
}

.nav-bar-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: bold;
    color: #FF4B56;
}

.person{
    position: absolute;
    top: 85px;
    right: 40px;
    margin-left: 2%;
    font-size: 1000%;
    color: white;
}
/* MOTTO */
.motto{
    flex: 50%;
}
.motto h2{
    color: #FF4B56;
    font-size: 800%;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 3%;
}
.social-nav{
    flex: 50%;
}

.social{
    font-size: 1000%;
    transition: .5s;
}

.social:hover{
    font-size: 1250%;
}
.social-wrapper ul{
    margin-top: 4%;
}
.social-wrapper ul li{
    display: block;
    margin-top: 1%;
    margin-left: 92%;
}

.social-wrapper ul li a{
    color: white;
}
/* SECTION */
.hero-section{
    display: flex;
    height: 120%;
    width: 100%;
    position: absolute;
    top: 67%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)),url("../images/home/IMG_7272-2.jpg");
    background-size: cover;
}

.hero-section-left,
.hero-section-right{
    position: relative;
    flex: 50%;
}

.hero-section-right h2{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 2000%;
    font-weight: bold;
    color: white;
}

.hero-section-right h2 span{
    color: #FF4B56;
}

.hero-section-left h2{
    position: absolute;
    z-index: 4;
    top: 97%;
    left: 12%;
    font-size: 1500%;
    font-weight: bold;
    color: white;
}

.link-wrapper a{
    position: absolute;
    z-index: 4;
    top: 101%;
    left: 12%;
    font-size: 1000%;
    font-weight: bold;
    text-decoration: none;
    color: #FF4B56;
}
.est-wrapper h5{
    position: absolute;
    top: 80%;
    left: 1%;
    color: white;
}

/* PHONE */
.phone-wrapper{
    position: relative;
}
.phone-wrapper img{
    width: 30%;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    
}

/* SLIDER */
.slider{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slider-wrapper{
    position: absolute;
    top: 109%;
    left: 39%;
    width: 22%;
    height: 91%;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    position: relative;
    z-index: 2;
    height: 131%;
    width: 500%;
    display: flex;
}

.slide img{
    height: 70%;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1.5s;
}

/* MANUAL NAVIGATION */
.navigation-manual{
    position: absolute;
    z-index: 5;
    top: 90%;
    left: -48%;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 1%;
}
.manual-btn:hover{
    background-color: white;
    cursor: pointer;
}

#radio-1:checked ~ .first{
    margin-left: 0%;
}
#radio-2:checked ~ .first{
    margin-left: -20%;
}
#radio-3:checked ~ .first{
    margin-left: -40%;
}
#radio-4:checked ~ .first{
    margin-left: -60%;
}
#radio-5:checked ~ .first{
    margin-left: -80%;
}

/* AUTO NAVIGATION */
.navigation-auto{
    position: absolute;
    z-index: 5;
    top: 68.7%;
    left: -9.6%;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 1%;
}

#radio-1:checked ~ .navigation-auto .auto-btn1{
    background: white; 
}
#radio-2:checked ~ .navigation-auto .auto-btn2{
    background: white; 
}
#radio-3:checked ~ .navigation-auto .auto-btn3{
    background: white; 
}
#radio-4:checked ~ .navigation-auto .auto-btn4{
    background: white; 
}
#radio-5:checked ~ .navigation-auto .auto-btn5{
    background: white; 
}
/* ANIMATIONS */
.js--wp-1{
    opacity: 0;
}
.js--wp-1.animated{
    opacity: 1;
}

/* SCROLLBAR */
/* width */
        ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF4B56; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF4B56; 
  }

/* QUERIES */
@media only screen and (max-width: 1920px) {
    /* .slider-wrapper{
        position: absolute;
        top: 112%;
        left: 39.3%;
        width: 22%;
        height: 88%;
        border-radius: 10px;
        overflow: hidden;
    } */
    /* MANUAL NAVIGATION */
    /* .navigation-manual{
        position: absolute;
        z-index: 5;
        top: 90%;
        left: -47%;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    } */
    /* AUTO NAVIGATION */
    /* .navigation-auto{
        position: absolute;
        z-index: 5;
        top: 68.7%;
        left: -9.4%;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    } */
}

@media only screen and (max-width: 1366px) {
    .slider-wrapper{
        position: absolute;
        top: 112%;
        left: 39.5%;
        width: 22%;
        height: 88%;
        border-radius: 10px;
        overflow: hidden;
    }
    /* MANUAL NAVIGATION */
    .navigation-manual{
        position: absolute;
        z-index: 5;
        top: 90%;
        left: -85%;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    /* AUTO NAVIGATION */
    .navigation-auto{
        position: absolute;
        z-index: 5;
        top: 68.7%;
        left: -17%;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
}


